#wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#meetings {
	height: 80%;
	padding: 1em;
	box-radius: 1em;
	background-color: gray;
}

#meeting-list {
	float: left;
	width: 20%;
	height: 100%;
	padding: 0 1em;
	overflow-y: auto;
	overflow-x: none;
}

#meeting-details {
	margin: 0em 1em 0em 20%;
	padding: 1em 2em;
	background-color: white;
	border-radius: 1em;
	height: 100%;
	overflow-y: auto;
	overflow-x: none;
}

#add-meeting-form {
	position: absolute;
	top: 80%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
}

#meeting-list .meeting-title, #meeting-list .meeting-date {
	display: block;
}

#meeting-list .meeting-title {
	font-weight: bold;
	font-size: 1.2em;
}

#meeting-list .meeting-date {
	color: #666;
	font-size: .8em;
}

.meeting-list {
	margin: 0;
	padding: 1em 0;
	background-color: white;
	list-style-type: none;
	border-radius: 1em;
	min-height: 100%;
}

.meeting {
	padding: 1em 2em;
	margin: 0;
	box-radius: 1em;
}

.meeting:hover {
	background-color: lightgray;
}

.meeting.selected {
	background-color: #aaf;
}

h2 {
	color: gray;
}

.person-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.person-list >li {
	display: inline-block;
	margin: 5px;
}

.person {
	text-align: center;
}

.person-name {
	width: 100%;
	text-align: center;
	font-size: .9em;
	line-height: 2em;
}

.person.selected .person-name {
	color: blue;
}

.person.selected img {
	border-color: blue;
}

.person img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	border: 2px solid lightgray;
}