<template name="meetingDetails">
{{#if meeting}}
	{{> guests meeting}}
	{{> editAttendanceForm}}
	{{> removeMeetingForm meeting}}
{{else}}
	{{> noSelectedMeeting}}
{{/if}}
</template>

<template name="guests">
	<div>
		<h2>Involved with this meeting</h2>
{{#each groups}}
		<div>
			<h3>{{title}} ({{people.length}})</h3>
			<ul class="person-list">
	{{#each people}}
				<li>{{> person id=this}}</li>
	{{/each}}
			</ul>
		</div>
{{/each}}
	</div>
{{> availablePeople this}}
</template>

<template name="person">
	<div class="person {{selectedClass}}">
		<div><img src="{{person.pictureUrl}}" title="Picture of {{person.name}}" /></div>
		<div class="person-name">{{person.name}}</div>
	</div>
</template>

<template name="availablePeople">
	<div>
		<h2>Available for meeting</h2>
{{#if available}}
		<ul class="person-list">
	{{#each available}}
			<li>{{> person id=this._id}}</li>
	{{/each}}
		</ul>
{{else}}
		<p>Looks like everyone is involved with your meeting!</p>
{{/if}}
	</div>
</template>

<template name="editAttendanceForm">
{{#if meetingAndPersonSelected}}
	<form class="edit-attendance-form">
		<div>
			<label>New status for {{personName}}:
			<select name="status">
	{{#each toArray options}}
				<option value="{{key}}">{{value.title}}</option>
	{{/each}}
			</select>
			</label>
			<button type="submit">Save</button>
			<button type="button" class="cancel-button">Cancel</button>
		</div>
	</form>
{{/if}}
</template>

<template name="removeMeetingForm">
	<form class="remove-meeting-form">
		<button type="submit">Cancel and remove this meeting</button>
	</form>
</template>

<template name="noSelectedMeeting">
	<p>Select a meeting from the list of meetings</p>
</template>