<template name="meetingList">
{{#if meetings}}
	<ul class="meeting-list">
	{{#each meetings}}
		<li>{{> meetingListItem this}}</li>
	{{/each}}
	</ul>
{{else}}
	<p>There are no meetings</p>
{{/if}}
</template>

<template name="meetingListItem">
	<div class="meeting {{selectedClass}}">
		<span class="meeting-title">{{title}}</span>
		<span class="meeting-date">{{formatDate date}}</span>
	</div>
</template>