<head>
	<title>Urbanist test</title>
</head>

<body>
	<div id="wrapper">
		<div id="meetings">
			<div id="meeting-list">
				{{> meetingList}}
			</div>
			<div id="meeting-details">
				{{> meetingDetails}}
			</div>
		</div>
		<div id="add-meeting-form">
			{{> addMeetingForm}}
		</div>
	</div>
</body>