<template name="addMeetingForm">
	<form class="new-meeting">
		<h2>Add meeting</h2>
		<div><input type="text" name="title" placeholder="Meeting title" /></div>
		<div><input type="datetime-local" name="date" /></div>
		<div><button type="submit">Create meeting</button></div>
	</form>
</template>